html
    head
        title= 'Patient Allergies'
    body
        div
            h3 Access List Of All Patients
            a(href="http://localhost:3000/all") All Patients
            hr
        div
            form(
                action="http://localhost:3000/allergies"
                method="post"
                enctype="application/x-www-form-urlencoded"
            )
                h3 Look Up Allergies For Individual Patient
                label(for="id") Patient ID Number
                br
                input(type="number" name="id")
                br
                br
                input(type="submit" name="submit" value="Look Up Patient")
                br
                hr
        div
            form(
                action="http://localhost:3000/allergy"
                method="post"
                enctype="application/x-www-form-urlencoded"
            )
                h3 Add Allergy To Existing Patient
                label(for="id") Patient ID
                br
                input(type="number" name="id")
                br
                br
                label(for="allergy") Allergy
                br 
                input(type="text" name="allergy")
                br
                br 
                label(for="severity") Severity
                br
                input(type="text" name="severity")
                br
                br 
                input(type="submit" name="Submit Allergy")
                br
                hr

        div
            form(
                action="http://localhost:3000/patient"
                method="post"
                enctype="application/x-www-form-urlencoded"
            )
                h3 Add New Patient
                label(for="name") Name
                br
                input(type="text" name="name")
                br
                br
                input(type="submit" name="submit" value="Add Patient")